.carousel {
    width: 45%;
    margin: auto;
  }

  /*Tablets */

@media(max-width: 768px){
  .carousel {
    width: 75%;
    margin: auto;
  }

}

/*Mobile*/

@media(max-width: 500px){
  .carousel {
    width: 75%;
    margin: auto;
  }
    
}
