@media(max-width: 768px){
    .bottom_container {
        width: 75%;
        margin: 0 auto;
    }
}

/* Mobile */

@media(max-width: 500px){
    .bottom_container {
     width: 475px;
     margin: 0 auto;
    }
}