.login_main_container {
    margin-top: 55px;
    margin-left: 36%;
    margin-right: 31%;
}

.form {
    margin-left: 15%;
}

.login_head {
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.login_button {
    background-color: blue;
    color: white;
    padding: 2px 2px 2px 2px;
}

.login_lower {
    margin-left: 34%;
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.text_link {
    color: blue;
}