.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

/*
MARGINS and PADDING: 
top right bottom left
*/

.menu_box {
    margin: 15px 0px 10px 0px;
    font-size: 11px;
    padding: 5px 15px 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 1px #EAEDEF;
    width: 30%;
}

.menu_title {
    text-align: center;
    font-size: 13px;
}

.image {
    height: 23px;
    width: 34.5px;
}