.orderForm_container {
    margin: auto;
    width: 50%;
}

.form {
    margin-top: 20px;
    margin-bottom: 25px;
}

.label_text {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Architects Daughter', 'cursive';
}

