.register_main_container {
    margin-top: 55px;
    margin-left: 36%;
    margin-right: 31%;
}

.register_head {
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.register_button {
    background-color: green;
    color: white;
    padding: 2px 2px 2px 2px;
}

.register_lower {
    margin-left: 28%;
    color: black;
    font-family: 'Architects Daughter', cursive;
}